.flex_box, .grid_box {
    border: 2px solid black;
    height: 300px;
    width: 100%;

}

.flex_box {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.grid_box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    align-items: center;
        
}

.f_item, .g_item {
    display: inline-block;
    padding: 30px;
}

.f_item {
    background-color: aqua;
    height: 10px;
}

.g_item {
    background-color: brown;
}