.float_left {
    width: 30%;
    background-color: blanchedalmond;
    float:left;
    margin: 20px;
}

.colr_box {
    border: 3px solid saddlebrown;
    padding: 20px;
    float: right;
}

p {
    clear:both;
}