h2 {
    text-align: center;
}

header {
    border: 3px solid red;
}

nav {
    border: 3px solid orange;
    width:200px;
    float:left;
}

section {
    border: 3px solid green;
    margin-left: 206px;
}

footer {
    border: 3px solid navy;
}

.page {
    border: 3px solid purple;
}

body {
    margin :0px;
    
}

.color_box {
    border: 3px solid;
    background-color: salmon;
    width: 200px;
}

.margin {
    margin:auto;
}

.position {
    position: absolute;
    right: 0;
    
}

.float {
    float: right;
    right: 0;
}